stages:
  - prepare-env
  - prepare-app
  - build
  - deploy
  - deploy_production
cache:
  key: "$CI_BUILD_REF_NAME"
  untracked: true    
  paths:
    - target/
    - sbt-cache/

prepare-env:
  stage: prepare-env
  variables:
    SOURCE_BRANCH: conf/application-local.conf
  rules:
    - if: $CI_COMMIT_REF_NAME =~ /prod-do/
      variables:
        SOURCE_BRANCH: conf/application-prod.conf
    - if: $CI_COMMIT_REF_NAME =~ /staging/
      variables:
        SOURCE_BRANCH: conf/application-staging.conf
  script:
    - echo $SOURCE_BRANCH
    - cp $SOURCE_BRANCH conf/application.conf
  artifacts:
    paths:
      - "conf/"
    expire_in: 1 days


prepare-app:
  stage: prepare-app
  #image: mozilla/sbt:8u292_1.5.7
  image: jaceklaskowski/docker-sbt-openjdk-6:0.13.9
  script:
    - sbt clean compile
  only:
    - staging
    - prod-do
  tags:
    - new-shared
  timeout: 180m
  artifacts:
    paths:
      - "target"
    expire_in: 1 days

build:
  stage: build
  image: docker:18.09.7
  services:
    - name: docker:18.09.7-dind
  script:
    - cat /etc/resolv.conf
    - ls -lah target
    - docker info
    - docker login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" registry-v2.stagingapps.net
    - docker build -t "${CI_REGISTRY_IMAGE}:latest" .
    - docker tag "${CI_REGISTRY_IMAGE}:latest" "${CI_REGISTRY_IMAGE}:$CI_BUILD_REF"
    - docker push "${CI_REGISTRY_IMAGE}:latest"
    - docker push "${CI_REGISTRY_IMAGE}:$CI_BUILD_REF"
  only:
    - staging
    - prod-do
  tags:
    - new-shared
deploy_staging:
  image: registry.cn-hangzhou.aliyuncs.com/haoshuwei24/kubectl:1.16.6
  stage: deploy
  environment:
    name: stg-sandbox-api
    url: https://${URL_STAGING}
  script:
    - kubectl version
    - cd manifest/
    - |
      if kubectl get secret | grep regcred; then
          echo "already exist"
          kubectl delete secret regcred
          kubectl create secret docker-registry regcred --docker-server=registry-v2.stagingapps.net --docker-username="${CI_REGISTRY_USER}" --docker-password="${CI_REGISTRY_PASSWORD}" || exit 1
      else
         kubectl create secret docker-registry regcred --docker-server=registry-v2.stagingapps.net --docker-username="${CI_REGISTRY_USER}" --docker-password="${CI_REGISTRY_PASSWORD}" || exit 1
      fi 
    - sed -i "s/__CI_ENVIRONMENT_SLUG__/${CI_ENVIRONMENT_SLUG}/" deployment.yaml service.yaml ingress.yaml
    - sed -i "s/__CI_PROJECT_NAME__/${CI_PROJECT_NAME}/" deployment.yaml service.yaml ingress.yaml pvc.yaml
#    - sed -i "s/__VERSION__/$CI_BUILD_REF/" deployment.yaml
    - sed -i "s/__URL_STAGING__/${URL_STAGING}/" ingress.yaml
    - sed -i "s,__IMAGE__:__VERSION__,${CI_REGISTRY_IMAGE}:$CI_BUILD_REF," deployment.yaml
    - kubectl apply -f pvc.yaml
    - kubectl apply -f deployment.yaml
    - kubectl apply -f service.yaml
    - kubectl apply -f ingress.yaml
    - kubectl rollout status -f deployment.yaml
    - kubectl get all,ing  -n "${KUBE_NAMESPACE}"
  only:
    - staging

deploy_production:
  stage: deploy_production
  script:
    - sed -i "s,_IMAGE:VERSION_,${CI_REGISTRY_IMAGE}:$CI_BUILD_REF," docker-compose.yml
    - scp -P 222 docker-compose.yml deploy@188.166.206.252:~/api/
    - ssh -p 222 deploy@188.166.206.252 docker login -u "${CI_REGISTRY_USER}" -p "${CI_REGISTRY_PASSWORD}" registry-v2.stagingapps.net
    - ssh -p 222 deploy@188.166.206.252 "cd api && docker compose up -d"
  only:
    - prod-do
  tags:
    - production
  when: manual
