@import models.transaction.Order
@import models.transaction.OrderPayment
@(path: String, order: Order, orderPayment: OrderPayment)
<!DOCTYPE html>
<html lang="en" style="margin: 0;padding: 0;box-sizing: border-box;">

<head style="margin: 0;padding: 0;box-sizing: border-box;">
  <meta charset="UTF-8" style="margin: 0;padding: 0;box-sizing: border-box;">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" style="margin: 0;padding: 0;box-sizing: border-box;">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"
    style="margin: 0;padding: 0;box-sizing: border-box;">
  <title style="margin: 0;padding: 0;box-sizing: border-box;">Notifikasi Email - Customer</title>


</head>

<body style="margin: 0;padding: 0;box-sizing: border-box;background-color: #cccc;font-family: D-DIN Exp;">
  <div class="container"
    style="margin: auto;padding: 0;box-sizing: border-box;width: 600px;height: 1923px;background-color: #E6F2FF;">
    <!-- header -->
    <div class="header"
      style="margin: 0;padding: 28px 20px;box-sizing: border-box;width: 600px;height: 115px;background-image: url(@path/assets/email-Invocie/bg-header.png);">
      <img src="@path/assets/email-Inovice/hellobisnisnewlogo.png" alt="" style="margin: 0;padding: 0;box-sizing: border-box;">
    </div>

    <div class="customer" style="margin: 40px 0;padding: 0 20px;box-sizing: border-box;">
      <p style="margin: 0;padding: 0;box-sizing: border-box;font-size: 28px;font-weight: bold;text-align: center;">
        Hello, @order.scalaFetchMemberFullname() </p>

    </div>

    <div class="title-header" style="margin: 40px 23px;padding: 0;box-sizing: border-box;">
      <p style="margin: 0;padding: 0;box-sizing: border-box;font-size: 22px;font-weight: bold;margin-bottom: 5px;">
        Verifikasi Pembayaran</p>
      <p style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;color: #636B78;">Pembayaran telah
        terverifikasi dan pesanan telah diteruskan ke <span
          style="margin: 0;padding: 0;box-sizing: border-box;font-weight: bold;">Penjual</span></p>
    </div>
    <!-- header -->

    <!-- Container Reciept  -->
    <div class="container-reciept"
      style="margin: auto;padding: 40px 20px;box-sizing: border-box;width: 570px;height: 1022px;background-image: url(@path/assets/email-Invoice/bg-reciept.png);">
      <!-- Start No Antrian -->
      <div class="antrian"
        style="margin: 0;padding: 0;box-sizing: border-box;width: 520px;display: flex;justify-content: space-between;align-items: center;">
        <p style="margin: 0;padding: 0;box-sizing: border-box;font-size: 20px;font-weight: bold;color: #636B78; margin-right: auto;">Nomor
          Antrian</p>
        <div class="no-antrian"
          style="margin: 0;padding: 0;box-sizing: border-box;width: 75px;height: 45px;border-radius: 10px;background-color: #D6E9FF;display: flex;
          justify-content: center;align-items: center; align-items: center;">
          <p style="margin: 0;padding: 0;box-sizing: border-box;font-size: 25px;font-weight: bold;color: #636B78;">
            @order.scalaFetchOrderQueue()
          </p>
        </div>
      </div>
      <!-- End No Antrian -->

      <!-- Start Pembayaran -->
      <div class="pembayaran"
        style="margin: auto;padding: 0;box-sizing: border-box;width: 520px;height: 616px;margin-top: 25px;">
        <p
          style="margin: 0;padding: 0;box-sizing: border-box;font-size: 22px;font-weight: bold;color: #000;text-align: center;">
          Detail Pembayaran</p>

        <!-- Start Detail -->
        <div class="detail" style="margin: 0;padding: 0;box-sizing: border-box;margin-top: 30px;">
          <div class="title-pembayaran"
            style="margin: 0;padding: 0;box-sizing: border-box;width: 520px;margin-bottom: 20px;">
            <div class="title-pembayaran-detail"
              style="margin: 0;padding: 0;box-sizing: border-box;width: 100%;display: flex;justify-content: space-between;align-items: center;">
              <p
                style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #636B78;text-align: center;
                margin-right: auto;">
                No. Trx</p>
              <p
                style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: bold;color: #636B78;text-align: center;">
                @order.scalaFetchOrderNumber()</p>
            </div>
          </div>
          <div class="title-pembayaran"
            style="margin: 0;padding: 0;box-sizing: border-box;width: 520px;margin-bottom: 20px;">
            <div class="title-pembayaran-detail"
              style="margin: 0;padding: 0;box-sizing: border-box;width: 100%;display: flex;justify-content: space-between;align-items: center;">
              <p
                style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #636B78;text-align: center;
                margin-right: auto;">
                Waktu Pembayaran</p>
              <p
                style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: bold;color: #636B78;text-align: center;">
                @order.scalaFetchOrderDate() </p>
            </div>
          </div>
          <div class="title-pembayaran"
            style="margin: 0;padding: 0;box-sizing: border-box;width: 520px;margin-bottom: 20px;">
            <div class="title-pembayaran-detail"
              style="margin: 0;padding: 0;box-sizing: border-box;width: 100%;display: flex;justify-content: space-between;align-items: center;">
              <p
                style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #636B78;text-align: center;
                margin-right: auto;">
                Tipe Pesanan</p>
              <p
                style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: bold;color: #636B78;text-align: center;">
                @order.scalaFetchOrderType()</p>
            </div>
          </div>
        </div>
        <!-- End Detail -->

        <!-- Start Item -->
        <div class="item" style="margin: 0;padding: 0;box-sizing: border-box;margin-top: 40px;">
          <div class="title-item"
            style="margin: 0;padding: 0;box-sizing: border-box;width: 520px;height: 45px;background-color: #D6E9FF;padding-left: 10px;display: flex;text-align: center;">
            <p
              style="margin: 13px 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: bold;color: #080551;text-align: center;margin-right: 52px;">
              QTY</p>
            <p
              style="margin: 13px 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: bold;color: #080551;text-align: left;width: 260px;margin-right: 60px;">
              Item</p>
            <p
              style="margin: 13px 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: bold;color: #080551;text-align: center;">
              Harga</p>
          </div>
          @for(o <- order.getProductDetail()){
          <div class="item-produk"
            style="margin: 40px auto;padding: 0;box-sizing: border-box;width: 479px;height: 20px;display: flex;">
            
            <p
              style="
              margin: 0;
              padding: 0;
              box-sizing: border-box;font-size: 18px;font-weight: 100;color: #636B78;
              text-align: center;
              margin-right: 68px;">
              @o.fetchQuantity()</p>
            
            <p
              style="margin: 0;
              padding: 0;
              box-sizing: border-box;
              font-size: 18px;
              font-weight: 100;
              color: #636B78;
              text-align: left;
              width: 260px;
              height: auto;
              margin-right: auto;">
              @o.getNamaProduk()</p>
            <p
              style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #636B78;
              text-align: center;">
              @o.fetchPrice()</p>
            </div>
            }
            
        </div>
        <!-- End Item -->

        <div class="line-dot"
          style="margin: 40px auto;padding: 0;box-sizing: border-box;width: 500px;border: 2px dashed #ccc;"></div>

        <!-- Start Detail Harga -->
        <div class="detail-harga" style="margin: auto;padding: 0;box-sizing: border-box;width: 520px;">
          <div class="harga"
            style="margin: auto;padding: 0;box-sizing: border-box;width: 491px;display: flex;justify-content: space-between;margin-bottom: 15px;">
            <p
              style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #636B78;text-align: center;
              margin-right: auto;">
              Sub Total</p>
            <p
              style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #636B78;text-align: left;
              width: auto;">
              @order.scalaFetchSubTotal() </p>
          </div>
          <div class="harga"
            style="margin: auto;padding: 0;box-sizing: border-box;width: 491px;display: flex;justify-content: space-between;margin-bottom: 15px;">
            <p
              style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #636B78;text-align: center;
              margin-right: auto;">
              Pajak (@orderPayment.scalaFetchTaxPercentage()%)</p>
            <p
              style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #636B78;text-align: left;
              width: auto;">
              @orderPayment.scalaFetchTaxPrice() </p>
          </div>
          <div class="harga"
            style="margin: auto;padding: 0;box-sizing: border-box;width: 491px;display: flex;justify-content: space-between;margin-bottom: 15px;">
            <p
              style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #636B78;text-align: center;
              margin-right: auto;">
              Services (@orderPayment.scalaFetchServicePercentage()%)</p>
            <p
              style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #636B78;text-align: left;
              width: auto;">
              @orderPayment.scalaFetchServicePrice() </p>
          </div>
          <div class="harga"
            style="margin: auto;padding: 0;box-sizing: border-box;width: 491px;display: flex;justify-content: space-between;margin-bottom: 15px;">
            <p
              style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #636B78;text-align: center;
              margin-right: auto;">
              Biaya Layanan</p>
            <p
              style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #636B78;text-align: left;
              width: auto;">
              @orderPayment.scalaFetchFeeCustomer() </p>
          </div>
          <div class="harga-total"
            style="margin: auto;padding: 0;box-sizing: border-box;width: 491px;display: flex;justify-content: space-between;">
            <p
              style="margin: 0;padding: 0;box-sizing: border-box;font-size: 25px;font-weight: bold;color: #000;text-align: center;
              margin-right: auto;">
              Total</p>
            <p
              style="margin: 0;padding: 0;box-sizing: border-box;font-size: 25px;font-weight: bold;color: #000;text-align: center;">
              @order.scalaFetchTotalPrice() </p>
          </div>
        </div>
        <!-- End Detail Harga -->

      <!-- End Pembayaran -->

      <!-- Start QR -->
      <div class="qr-code" style="margin: 40px auto;padding: 0;box-sizing: border-box;width: 500px;display: flex;align-items: center;">
        <p style="margin: 0;padding: 0;box-sizing: border-box;text-align: center;font-size: 18px;line-height: 20px;color: #636B78;margin-right: auto;">Cek Status Pesanan Anda</p>
        <a href="@order.scalaFetchStoreQrUrl()"
        style="color: #16479C;
        margin: 0;padding: 0;box-sizing: border-box;text-align: center;font-size: 18px;line-height: 20px;">Lihat Pesanan</a>
    </div>
      <!-- <div class="qr-code"
        style="margin: 40px auto;padding: 0;box-sizing: border-box;width: 500px;display: flex;align-items: center;">
        <div style="margin: 0;padding: 0;box-sizing: border-box;">
          <img src="@path/assets/QR.png" alt="">
        </div>
        <p
          style="margin: 0;padding: 0;box-sizing: border-box;text-align: center;font-size: 18px;line-height: 20px;color: #636B78;">
          Untuk cek informasi pesanan kamu, Silahkan <span
            style="margin: 0;padding: 0;box-sizing: border-box;font-weight: bold;"> Scan QR Code </span>di
          sebelah.Terima Kasih.</p>
      </div> -->
      <!-- End QR -->
      </div>
    </div>
    <!-- Container Reciept  -->

    <!-- Start Detail Toko -->
    <div class="detail-toko" style="margin: 50px;padding: 0;box-sizing: border-box;width: auto;">
      <p
        style="margin: 0;padding: 0;box-sizing: border-box;font-size: 30px;text-align: center;font-weight: bold;color: #000;">
        @order.scalaFetchStoreName()</p>
      <p
        style="margin: 0;padding: 0;box-sizing: border-box;font-size: 20px;text-align: center;font-weight: 100;color: #636B78;margin-top: 10px;">
        @order.scalaFetchStoreAddress() <br><span
          style="margin: 0;padding: 0;box-sizing: border-box;font-weight: bold;">Nomor Telepon : @order.scalaFetchStorePhone()</span> </p>
    </div>
    <!-- End Detail Toko -->

    <!-- Footer -->
    <footer
      style="margin: 0;padding: 0;box-sizing: border-box;width: 600px;height: 291px;background-color: #D6E9FF;margin-top: 100px;">
      <div class="service"
        style="margin: auto;padding: 30px 0;box-sizing: border-box;width: 524px;display: flex;justify-content: space-between;">
        <div class="us" style="margin: 0;padding: 0;box-sizing: border-box; margin-right: auto;">
          <p
            style="margin: 0;padding: 0;box-sizing: border-box;font-size: 22px;font-weight: bold;margin-bottom: 10px;color: #16479C;">
            Kunjungi Kami</p>
          <p style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #16479C;">
            www.sandbox.com</p>
        </div>
        <div class="cs" style="margin: 0;padding: 0;box-sizing: border-box;">
          <p
            style="margin: 0;padding: 0;box-sizing: border-box;font-size: 22px;font-weight: bold;margin-bottom: 10px;color: #16479C;text-align: right;">
            Customer Services</p>
          <div class="phone" style="margin: 0;padding: 0;box-sizing: border-box;">
            <p
              style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;margin-bottom: 10px;color: #16479C;text-align: right;">
              021 - 2345 2345</p>
            <p
              style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;font-weight: 100;color: #16479C;text-align: right;">
              0823 2345 6789</p>
          </div>
        </div>
      </div>
      <div class="line-2"
        style="margin: auto;padding: 0;box-sizing: border-box;width: 500px;border: 1px solid #16479C;margin-bottom: 30px;">
      </div>
      <div class="title-footer" style="margin: 0;padding: 0;box-sizing: border-box;">
        <p
          style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;color: #16479C;text-align: center;margin-bottom: 20px;">
          Email ini di buat Otomatis, jika anda membutuhkan bantuan silahkan hubungi Customer Service.</p>
        <p
          style="margin: 0;padding: 0;box-sizing: border-box;font-size: 18px;color: #16479C;text-align: center;margin-bottom: 20px;">
          2023 HelloBisnis.com | All Rights Reserved.</p>
      </div>
    </footer>
    <!-- Footer -->
  </div>
</body>

</html>